page-createprofile {
.profile-image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

  .masters {
  background-color: color($colors, light);
  }
.logo {
	  display: block;
	  margin: 5% auto;
	  width: 150px;
   }
   .bullets {
	  display: block;
	  margin: 5% auto;
	  width: 100px;
   }
.bio {
	  display: block;
	  margin: 10% auto;
      width: 100px;
      margin-top: 5em;
   }


   .login {
     // background: rgba(255, 255, 255, 1);
      border-radius: 10px;
    //   margin: 1em;
     // padding: 2em 5em 5em 2em;

      p {
      	  margin-bottom: 3em;
      }


      button {
      	  margin: 0 0 1.5em 0;
      }
   }
   ul li{
    display:inline;
    //display:list-item;
}
}
