page-starting {
.masters {
  background-color: color($colors, light);
}
.logo {
	  display: block;
	  margin: 10% auto;
	  width: 200px;
   }
.bio {
	  display: block;
	  margin: 10% auto;
      width: 100px;
      margin-top: 5em;
   }
   .fyl {
	  display: block;
      bottom: 20px;
      width: 28%;
      margin: 0 auto;
      margin-bottom: -10em;
   }

   .login {
      background: color($colors, light);
      border-radius: 10px;
    //   margin: 1em;
     // padding: 2em 5em 5em 2em;

      p {
      	  margin-bottom: 3em;
      }


      button {
      	  margin: 0 0 1.5em 0;
      }
   }
}
